github "Alamofire/Alamofire" ~> 4.7
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.2
github "Alamofire/AlamofireImage" ~> 3.3
github "SnapKit/SnapKit" ~> 4.0.0
github "MessageKit/MessageKit"
github "WenchaoD/FSCalendar"
github "jdg/MBProgressHUD" ~> 1.1.0
github "AssistoLab/DropDown"